.Infoform{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    }
    h1 {
    text-align:center;
    font-size:18;
    color: rgb(68, 2, 24);;
    }
    input[type=text], input[type=email] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    input[type=submit], input[type=reset] {
    background-color: rgb(31, 1, 11);;
    color: white;
    padding: 14px 0;
    
    border: none;
    cursor: grab;
    width: 48%;
    }
    label{
    color: rgb(68, 2, 24);
    }
    p{
        text-align: center;
        color: rgb(68, 2, 24);
        text-emphasis: bolder;
    }