<h1>Our Products</h1>
<div>
    <table>
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueX3.PNG" alt="IntellivueX3">
                    <figcaption>IntellivueX3</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX40.PNG" alt="IntellivueMX40">
                    <figcaption>IntellivueMX40</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueAD85.PNG" alt="IntellivueAD85">
                    <figcaption>IntellivueAD85</figcaption>
                </figure>    
            </td>
        </tr>
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMMSX2.PNG" alt="IntellivueMMSX2"> 
                    <figcaption>IntellivueMMSX2</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMP2.PNG" alt="IntellivueMP2">
                    <figcaption>IntellivueMP2</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX500.PNG" alt="IntellivueMX500">
                    <figcaption>IntellivueMX500</figcaption>
                </figure>
            </td>
        </tr>
        
        <tr>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX550.PNG" alt="IntellivueMX550">
                    <figcaption>IntellivueMX550</figcaption>
                </figure>
            </td>
            <td>
                <figure class="column">
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX400.PNG" alt="IntellivueMX400">
                    <figcaption>IntellivueMX400</figcaption>
                </figure>
            </td>
            <td>
                <figure>
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX700.PNG" alt="IntellivueMX550">
                    <figcaption>IntellivueMX700</figcaption>
                </figure>
            </td>
        </tr>
        
        <tr>
            <td>
                <figure>
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX750.PNG" alt="IntellivueMX550">
                    <figcaption>IntellivueMX750</figcaption>
                </figure>
            </td>
            <td>
                <figure>
                    <img width="300px" height="300px" src="./assets/images/IntellivueMX800.PNG" alt="IntellivueMX550">
                    <figcaption>IntellivueMX800</figcaption>
                </figure>
            </td>
        </tr>
    </table>
    
    
    
</div>